.aL-gralContainer{
    /* width: 87.1245rem;
    height: 83.22319rem; */
    /* flex-shrink: 0;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
      ". . . ."
      ". . . ."
      ". . . .";
    background: #FFF2C6; */
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
}

