.banner {
    width: 100%;
    text-align: center;
    padding-top: 120px;
}

.banner h2 {
    font-family: var(--font-title);
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0;
    color: var(--white);
    letter-spacing: 2px;  
}

.banner-image {
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner .desktop {
    display: block;
}

.banner .mobile {
    display: none;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--dk);
    padding: 20px 0;
}

@media (max-width: 480px) {
    .banner .desktop {
        display: none;
    }

    .banner .mobile {
        display: block;
    }

    .banner-image {
        height: 100px;
    }

    .banner h2 {
        font-size: 18px;
        letter-spacing: 1px;  
    }

    .banner-image .bottom {
        visibility: hidden;
    }
}