
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}


footer {
    background-color: rgba(240, 188, 47, 0.62);
    width: 100%;
    height: 607px;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 2%;
}

.flex-item-left {
    flex: 50%;
}

.flex-item-right {
    flex: 50%;
    margin-top: 193px;
}

form {
    max-width: 506px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0 50px 250px;
}

input[type=text] {
    width: 468px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 0.6em;
    outline: none;
    display: inline-block;
    font: 1em sans-serif;
    cursor: pointer;
    border: none;
    background-color: white;
    color: #6F6A6A;
}

textarea {
    width: 468px;
    height: 197px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 0.6em;
    outline: none;
    display: inline-block;
    font: 1em sans-serif;
    cursor: pointer;
    border: none;
    background-color: white;
    color: #6F6A6A;
    resize: none;
}

input:focus,
textarea:focus {
    border: 1px solid #6F6A6A;
}

.btn-submit {
    width: 468px;
    height: 40px;
    background-color: #3A3838;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}


.social-links a {
    display: inline-block;
    margin: 30px 30px 0 0;
}

.social-links a:hover{
     transform: translate(2px, 2px);
}

.contacts {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 18%;
}

h1 {
    color: black;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    right: 75px;
    margin-bottom: 20px;
}

.copyright h4 {
    color: white;
}

.contacts h4 {
    margin-top: 0.3em;
}

h5 {
    font-weight: bold;
    font-size: 18px;
}

.copyright {
    width: 100%;
    height: 88px;
    background-color: #3A3838;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 615px) {
    .flex-item-left{
        display: none;
    }

    .flex-item-right{
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-top: inherit;
    }

    .social-links{
        text-align: center;
    }

    h5{
        text-align: center;
        font-size: 22px;
    }

    .contacts {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

} 
