
.big-logo {
    width: 100%;
    height: 500px;
    background-color: var(--ylw-lt);
    display: flex;
    flex-direction: column;
}

.big-logo-img {
    margin: 0 auto;
    padding-top: 200px;
}

.big-logo a {
    margin: 0 auto;
    transition: all 0.3s ease 0s;
    padding: 0;
    margin-top: -200px;
    z-index: 0;
}

.big-logo a:hover {
    transform: scale(1.05);
}

@media (max-width: 599px) {

    .big-logo-btn {
        font-size: 25px;
    }
}
