/* Estilos para el componente CompaneroIdeal.js */

/* Estilos para el contenedor principal */
.dropdown_container {
    background-color:#c59000;
    text-align: center;
    padding: 30px;
    font-family: var(--font-title);
    color: var(--white);
    margin-top: 0;
  }
  
  /* Estilos para el título */
  .dropdown_container h4 {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--dk);
    
  }
  
  /* Estilos para los botones desplegables */
  .botones-desplegables {
    display: flex;
    justify-content: center;
  }
  
  /* Estilos para cada botón*/ 
  .dropdown-boton {
    background-color: var(--white);
    color:var(--dk);
    padding: 5px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 240px;
    
  }
  .dropdown-boton img{
    /* top: 4px;
    left: 2px;  */
    width: 20%;
    margin-left: 24%;
    justify-content:flex-end;
    margin-right: 1px;
} 
  .dropdown-boton-dk{
    background-color:black;
    color:white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 240px;

  }
  
  .dropdown-boton:hover {
    background-color: var(--lt);
  }

  .dropdown-boton-dk:hover {
    color: var(--ylw-md);
  }